{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <h1>
        Lista de Transacciones
    </h1>
    <p>
        <a href="{% url "cajas:new" %}">Agregar Transaccion</a>
    </p>
    <table>
        <tr>
            <td>ID</td>
            <td>FECHA</td>
            <td></td>
            <td></td>
        </tr> 
        {% for lt in object_list %}
            <tr>
                <td>{{ lt.id }}</td>
                <td>{{ lt.fecha }}</td>
                <td><a href="{% url "cajas:detail" lt.id %}">Ver</a></td>
                <td><a href="{% url "cajas:edit" lt.id %}">Editar</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}