body {
	font-family: "Roboto","Lucida Grande",Verdana,Arial,sans-serif;
	font-size: 15px;
}

thead tr:nth-child(odd){
	background-color: #E1E1E1;
}

tbody tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tbody tr:nth-child(even){
	background-color: #EEEEEE;
}

tfoot tr {
	background-color: #E1E1E1;
}

td, th {
	padding: 0.4em 1.5em 0.4em 0.5em;
}

td:nth-child(6) {
	text-align: right;
}
