{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    {{ mantenimientoperiodo_form.as_p}}
	    {{ pagomantenimiento_form.as_p}}
	    {{ pagogasto_form.as_p}}
	    <input type="submit" value="Submit" />
	</form>
	<p>
		<a href="{% url "lotes:transaction" %}">Regresar</a>
	</p>
	<script type="text/javascript">
        $(function(){
        	$("#datepicker").datepicker({dateFormat: 'dd/mm/yy'});
            EnviarMesAnio();
            SumarColumna('listaPago', 5);
            PonerComaColumna('listaPago', 5);
            MesPredeterminado("{{ month }}")
        })
    </script>
{% endblock %}