{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    {% include "form-button.html" with urldir="lotes:new" %}
    <table id="listaLote" class="Table-lista">
        <caption>{{ titulo }}</caption>
        <thead>
            <tr>
                <th>NUMERO</th>
                <th>INICIO</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for lt in object_list %}
            <tr>
                <td>{{ lt.numero }}</td>
                <td>{{ lt.inicio }}</td>
                <td><a href="{% url "lotes:detail" lt.id %}">Ver</a></td>
                <td><a href="{% url "lotes:edit" lt.id %}">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>     
    </table>
{% endblock %}