{% extends "base.html" %}

{% block page_title %}
	{{ titulo }}
{% endblock %}

{% block contenido %}
	<h1>CONTRATO DE ALQUILERES</h1>
	<h1>LOTE: <i>{{ ultimo_lote }}</i></h1>
	<h1>Cobranzas</h1>
	<p>
        <a href="{% url "lotes:new_cobranza" %}">Agregar Cobranza</a>
    </p>
	<table>
		<tr>
			<td>NUM. COBR.</td>
			<td>CONTRATO</td>
			<td>LOCAL</td>
			<td>PERIODO</td>
			<td>F. COBRANZA</td>
			<td>MONTO</td>
		</tr>
		{% for lt in lote_cobranza %}
			<tr>
  				<td><a href="{% url "lotes:edit_cobranza" lt.pk %}" >{{ lt.pk }}</a></td>
    			<td>{{ lt.cobranza.contrato.id }}</td>
    			<td>{{ lt.cobranza.contrato.local }}</td>
    			<td>{{ lt.cobranza.periodo }}</td>
    			<td>{{ lt.cobranza.fecha }}</td>
    			<td>{{ lt.cobranza.monto }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total</td>
			<td>{{ cobranza_total.total }}
		</tr>
	</table>
	<h1>Pagos</h1>
	<table>
		<tr>
			<td>TIPO</td>
			<td>FECHA</td>
			<td>GRUPO</td>
			<td>NOMBRE</td>
			<td>MONTO</td>
		</tr>
		{% for lt in lote_pago %}
			<tr>
  				<td>{{ lt.lote_pago }}</td>
    			<td>{{ lt.lote_pago }}</td>
    			<td>{{ lt.lote_pago }}</td>
    			<td>{{ lt.lote_pago }}</td>
    			<td>{{ lt.lote_pago }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>Total</td>
			<td>{{ lote_pago.total }}
		</tr>
	</table>
	<p>fin</p>
{% endblock %}
