{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    {% include "form-button.html" with urldir="cobranzas:new" %}    
    <table id="listaCobranza" class="Table-lista">
        <caption>{{ titulo }}</caption>
        <thead>
            <tr>
                <th>TIPO</th>
                <th>PISO</th>
                <th>CONTRATO</th>
                <th>LOCAL</th>
                <th>PERIODO</th>
                <th>FECHA DE COBRANZA</th>
                <th>MONTO</th>
                <th>LOTE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pr in object_list %}
            <tr>
                <td>{{ pr.tipo }}</td>
                <td>{{ pr.contrato.local.piso }}</td>
                <td>{{ pr.contrato.id }}</td>
                <td>
                    {{ pr.contrato.local.tipo.nombre }}  
                    {{ pr.contrato.local.numero }}, 
                    {{ pr.contrato.local.division.nombre }}
                </td>
                <td>{{ pr.periodo }}</td>
                <td>{{ pr.fecha_cobranza }}</td>
                <td>{{ pr.monto }}</td>
                <td>{{ pr.lote }}</td>
                <td><a href="{% url "cobranzas:detail" pr.id %}">Ver</a></td>
                <td><a href="{% url "cobranzas:edit" pr.id %}">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(function(){
            BotonAgregar();
        })
    </script>  
{% endblock %}