{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <h1>Lista de Pagos</h1>
    <form id="form_month_year">
        <label>Mes :</label>
        <input type="text" id="month" name="month" value={{ month }} />
        <label>Año :</label>
        <input type="text" id="year" name="year" value={{ year }} />
        <input type="button" id="submit" value="Enviar" />
    </form>
    <a href="{% url "pagos:new" month year %}">Agregar Pago</a>
    <table>
        <tr>
            <td>ID</td>
            <td>FECHA</td>
            <td>TIPO</td>
            <td>GRUPO</td>
            <td>NOMBRE</td>
            <td>MONTO</td>
            <td></td>
            <td></td>
        </tr>
        {% for lt in object_list %}
            <tr>
                <td>{{ lt.id }}</td>
                <td>{{ lt.fecha }}</td>
                <td>{{ lt.tipo }}</td>
                {% if lt.tipo.id = 1 %}
                    {% for pm in pago_mantenimiento %}
                        {% if pm.pago.pk == lt.id %}
                            <td>{{ pm.mantenimiento.grupo }}</td>
                            <td>{{ pm.mantenimiento.nombre }}</td>
                            <td>{{ pm.monto }}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for pg in pago_gasto %}
                        {% if pg.pago.pk == lt.id %}
                            <td>{{ pg.gasto.grupo }}</td>
                            <td>{{ pg.gasto.nombre }}</td>
                            <td>{{ pg.monto }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <td><a href="{% url "pagos:detail" lt.id %}">Ver</a></td>
                <td><a href="{% url "pagos:edit" lt.id %}">Editar</a></td>
            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">
        $("#submit").click(function(){
            var year = $("#year").val();
            var month = $("#month").val();
            location.pathname = "/pago/"+ month + "/" + year;
        });
    </script>
{% endblock %}