{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <h1>
        Lista de Gastos
    </h1>
    <p>
        <a href="{% url "gastos:new" %}">Agregar Gasto</a>
    </p>
    <table>
        <tr>
            <td>ID</td>
            <td>GRUPO</td>
            <td>NOMBRE</td>
            <td>TOTAL</td>
            <td></td>
            <td></td>
        </tr>
        {% for lt in object_list %}
            <tr>
                <td>{{ lt.id }}</td>
                <td>{{ lt.grupo }}</td>
                <td>{{ lt.nombre }}</td>
                <td>{{ lt.total }}</td>
                <td><a href="{% url "gastos:detail" lt.id %}">Ver</a></td>
                <td><a href="{% url "gastos:edit" lt.id %}">Editar</a></td>
            </tr>
        {% endfor %}       
    </table>
{% endblock %}