{% extends "base.html" %}

{% block page_title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <h1>
        Lista de Mantenimientos
    </h1>
    <p>
        <a href="{% url "mantenimientos:new" %}">Agregar Mantenimiento</a>
    </p>
    <table>
        <tr>
            <td>GRUPO</td>
            <td>NOMBRE</td>
            <td>PERIODO</td>
            <td>TOTAL</td>
            <td></td>
            <td></td>
        </tr>
        {% for lt in object_list %}
            <tr>
                <td>{{ lt.grupo }}</td>
                <td>{{ lt.nombre }}</td>
                <td>{{ lt.periodo }}</td>
                <td>{{ lt.total }}</td>
                <td><a href="{% url "mantenimientos:detail" lt.id %}">Ver</a></td>
                <td><a href="{% url "mantenimientos:edit" lt.id %}">Editar</a></td>
            </tr>
        {% endfor %} 
    </table>
{% endblock %}